* {
    box-sizing: border-box;
}


body {
    font-family: arial, Helvetica, sans-serif
    font-size: 15px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    background-color: #f1f2f4;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.date {
    margin-bottom: 70px;
    font-size: 12px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.button_1 {
    height: 38px;
    background: royalblue;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

header {
    background: linear-gradient(to bottom right, #20b2aa, #00bfff);
    color: #ff4500;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ff4500 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0px;
    font-size: 75px;
    text-shadow: 5px 3px 8px black;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight {
    color: white;
    font-weight: bold;
}

header .current a {
    color: #191970;
    font-weight: bold;
}

header a:hover {
    color: #ff4500;
    font-weight: bold;
}




/* Left column */
.jacob {
    float: left;
    padding-left: 0px;
    width: 48%;
    color: black;
}

.jacobbio {
    padding: 0px;
    margin: 0px;
}

.jacob h1 {
    font-size: 60px;
    color: #ff4500;
    margin: 0px;
    
}

.jacob h3 {
    font-size: 25px;
}

.jacob ul {
    font-size: 20px;
}

.jacob p {
    color: black;
    padding-bottom: 30px;
    font-size: 20px;
    padding-top: 0px;
    font-weight: bold;
    
}

.jacobone {
    background: linear-gradient(to bottom right, #20b2aa, #00bfff);
    padding: 20px;
    color: white;
    border-color: #ff4500;
    border-style: solid;
    border-width: 10px;
}

.jacobone h1 {
    font-size: 50px;
    color: white;
    text-shadow: 5px 3px #ff4500;
}

.jacobone li {
    color: black;
    font-weight: bold;
    font-size: 15px;
}


.jacobtwo {
    background-color: #e2e6e9;
    padding: 20px;
    color: black;
    margin-top: 25px;
    border-color: royalblue;
    border-style: solid;
    border-width: 4px;
}


.jacobthree {
    background-color: #e2e6e9;
    padding: 25px;
    color: black;
    margin-top: 15px;
    border-color: royalblue;
    border-style: solid;
    border-width: 4px;
}






/* Left column */
.michael {
    float: right;
    width: 48%;
    color: white;
    
}

.michaelbio {
    padding: 0px;
    margin: 0px;
    
  
}

.michael img {
    padding-top: 0px;
    
}

.michael h1 {
    font-size: 60px;
    color: #20b2aa;
    margin: 0px;
    
}

.michael h3 {
    font-size: 25px;
}

.michael ul {
    font-size: 20px;
}

.michael p {
    color: black;
    padding-bottom: 30px;
    font-size: 20px;
    padding-top: 0px;
    font-weight: bold;
    
}


.michaelone {
    background: linear-gradient(to bottom right, #20b2aa, #00bfff);
    padding: 20px;
    color: white;
    border-color: #ff4500;
    border-style: solid;
    border-width: 10px;
}

.michaelone h1 {
    font-size: 50px;
    color: white;
    text-shadow: 5px 3px #ff4500;
}

.michaelone li {
    color: black;
    font-weight: bold;
    font-size: 15px;
}



.michaeltwo {
    background-color: #e2e6e9;
    padding: 20px;
    color: black;
    margin-top: 25px;
    border-color: royalblue;
    border-style: solid;
    border-width: 4px;
}


.michaelthree {
    background-color: #e2e6e9;
    padding: 25px;
    color: black;
    margin-top: 15px;
    border-color: royalblue;
    border-style: solid;
    border-width: 4px;
}





footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #424d57;
    text-align: center;
    
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .jacob, .michael {   
        width: 100%;
        padding: 0;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

























