* {
    box-sizing: border-box;
}


body {
    font-family: arial, Helvetica, sans-serif
    font-size: 15px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.button_1 {
    height: 38px;
    background: royalblue;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

header {
    background: #2c333a;
    color: royalblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: royalblue 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0px;
    font-size: 32px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight {
    color: white;
    font-weight: bold;
}

header .current a {
    color: royalblue;
    font-weight: bold;
}

header a:hover {
    color: #ffa333;
    font-weight: bold;
}




/* Left column */
.jacob {
    float: left;
    background-color: #ffddb3;
    padding-left: 20px;
    width: 45%;
}

.jacob img {
    padding-top: 30px;
}

.jacob h1 {
    font-size: 40px;
}

.jacob h3 {
    font-size: 25px;
}

.jacob ul {
    font-size: 20px;
}


/* Left column */
.michael {
    float: right;
    background-color: #99ccff;
    padding-left: 20px;
    width: 45%;
}

.michael img {
    padding-top: 30px;
}

.michael h1 {
    font-size: 40px;
}

.michael h3 {
    font-size: 25px;
}

.michael ul {
    font-size: 20px;
}
















#newsletter {
    padding: 15px;
    color: black;
    
}

#newsletter h1 {
    float:left;
}

#newsletter form {
    float:left;
    margin-top: 15px;
    padding-left: 60px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 275px;
}




footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #424d57;
    text-align: center;
    
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .jacob, .michael {   
        width: 100%;
        padding: 0;
    }
}























